@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://discord.gg/proswapper" target="_blank">Discord</a>
            <a href="https://docs.proswapper.xyz" target="_blank">Docs</a>
            <a href="https://proswapper.xyz" target="_blank">Website</a>

        </div>

        <div class="content bg-dark">
            @Body
        </div>
    </main>
</div>
